<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>제품 상세정보</title>
  <style>
    span.price {
      text-decoration: line-through;
    }
  </style>
  <h1> TadeM</h1>
  <div>
    <a href="/member/buyer_Mypage">마이페이지</a>
    |
    <a href="/requestBoard/board_List">의뢰게시판</a>
    |
    <a href="/admin/qna/general_Main">Q&A</a>
    |
    <a href="/admin/notice/general_Main">공지사항</a>
    |
    <a href="/member/logout">로그아웃</a>
    <hr/>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

  <script>
    $(function (){
      $('#submitForm').on('submit', function (){

        if (!confirm('의뢰 신청을 진행하시겠습니까?')){
          return false;
        }

        var  $thisForm = $(this);

        var url = '/api/product/req';
        var parameter = {
          courseId: $thisForm.find('input[name=id]').val()
        };
        axios.post(url, parameter).then(function (response){
          console.log(response)

          if (msg != ''){
            alert(msg);
          }

        }).catch(function (err){
          console.log(err);

        });

        return false;
      });
    });
  </script>
</head>
<body>
<h1>제품 상세정보</h1>
<p>조회수 : <span th:text="${detail.hits}">1</span></p>
<div>
  <h2>제품명 : <span th:text="${detail.name}">제품</span></h2>
  <div th:utext="${detail.contents}"></div>
</div>
<div>
  <p>가격 : <span th:text="${detail.price}">0</span></p>
</div>
<div>
  <form id="submitForm" method="post">
    <input type="hidden" name="id" th:value="${detail.id}"/>
  <button type="submit">의뢰신청</button>
  <a href="/product">제품목록</a>
  </form>
</div>
</body>
</html>