<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>제품 등록</title>
  <style>
    .write table{
      width: 100%;
      border-collapse: collapse;
    }
    .write table th, .write table td {
      border: solid 1px #000;
    }
    .buttons a, .buttons button{
      border-width: 0;
      background-color: transparent;
      text-decoration: underline;
      font-size: 17px;
      line-height: 20px;
      height: 20px;
      color: #000;
      cursor: pointer;
    }
  </style>
</head>
<body>
<h1>제품 등록</h1>
<div class="write">

  <form method="post">

  <table>
   <tbody>
    <tr>
      <th>
        제품이름 :
      </th>
      <td>
        <input type="text" name="name" required placeholder="제품명 입력"/>
      </td>
    </tr>
   </tbody>
  </table>
  <div class="buttons">
    <button type="submit"> 등록 </button>
    <a href="/product/product_List"> 내 제품 목록</a>
  </div>
  </form>
</div>
</body>
</html>