<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>판매자 회원가입</title>
</head>
<body>
<h1>TadeM에 오신걸 환영합니다, 판매자님! 아래 사항을 입력해주세요!</h1>
<form method="post">
  <div>
    <input type="email" name="sellerEmail" placeholder="이메일을 입력해주세요." required/>
  </div>
  <div>
    <input type="text" input name="sellerName" placeholder="성함을 입력해주세요." required/>
  </div>
  <div>
    <input type="password" input name="password" placeholder="비밀번호를 입력해주세요." required/>
  </div>
  <div>
    <input type="password" input name="rePassword" placeholder="비밀번호를 한번 더 입력해주세요." required/>
  </div>
  <div>
    <input type="tel" input name="sellerTel" placeholder="전화번호를 입력해주세요." required/>
  </div>
  <div>
    개인정보 수집동의(필수)<input type="checkbox" input name="collectionYn" required/>
  </div>
  <div>
    개인정보 제3자 제공동의(필수)<input type="checkbox" input name="provideYn" required/>
  </div>
  <div>
    <button> 회원가입하기</button>
  </div>
</form>

</body>
</html>