<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>의뢰게시판 글작성 페이지</title>
</head>
<body>
<div class="container">
  <h1>게시글 등록</h1>
  <form action="/requestBoard/insertBoard" method="post">
  <tr>
    <td>제목</td>
    <td><input type="text" id="title" name="title" required></td>
  </tr>
  <br>
  <tr>
    <td>내용</td>
    <td colspan="2">
      <textarea id="contents" name="contents" required></textarea>
    </td>
  </tr>
    <br>
    <tr>
      <td>의뢰금액</td>
      <td><input type="text" id="price" name="price" required></td>
    </tr>
    <br>
    <tr>
      <td>의뢰기간(~까지)</td>
      <td><input type="text" id="period" name="period" required placeholder="yyyy-MM-dd로 입력해주세요."></td>
    </tr>
  <button input type="submit" id="submit">작성</button>
  </form>
</div>
</body>
</html>